version: '3.8'

services:
  db:
    image: postgres:14
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: openbudget
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/src/sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: openbudget
      POSTGRES_HOST: db
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/openbudget
      NODE_TLS_REJECT_UNAUTHORIZED: 0
      MAPBOX_TOKEN_BACKEND: ${MAPBOX_TOKEN}
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - ./import:/app/import

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    command: npm start
    volumes:
      - ./frontend:/app           # тільки код застосунку
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      - backend

volumes:
  db_data:

  
